:root {
    font-size: 62.5%;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    background-color: #000;
    color: #fff;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

a {
    color: #fff;
    text-decoration: none;

}

section{
    width: 100%;
    height: 100vh;
}

img{
    width: 100%;
    height: auto;
}


.header{
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 10rem;
    padding-inline: 6rem;
    justify-content: space-between;
    align-items: center;
    background-color: #0a0a0a;
}

input{
    border: none;
    font-family: "Poppins", sans-serif;
}

.logo-title{
    width: 100%;
    display: flex;
    align-items: center;
}

.header .logo{
    margin-inline-end: 6rem;
}

.menu{
    display: flex;
    list-style: none;
}

.menu a {
    display: block;
    margin-inline-end: 1rem;
    padding: .5rem;
}


/* -----------------------------MOBILE HEADER -------------------------------*/
.btn-mobile{
    position: relative;
    width: 4rem;
    height: 3rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
}

.bar {
    display: block;
    position: absolute;
    width: 3rem;
    height: .3rem;
    background-color: #fff;
    transition: transform 0.3s ease;
  }
  
  .bar:nth-child(1) {
    top: 0;
    left: 0;
  }
  
  .bar:nth-child(2) {
    top: 13px;
    left: 0;
  }
  
  .bar:nth-child(3) {
    bottom: 0;
    left: 0;
  }

  .btn-mobile.active .bar:nth-child(1) {
    transform: translateY(1.3rem) rotate(45deg);
  }
  
  .btn-mobile.active .bar:nth-child(2) {
    opacity: 0;
  }
  
  .btn-mobile.active .bar:nth-child(3) {
    transform: translateY(-1.4rem) rotate(-45deg);
  }

@media (max-width: 800px){
    .header{
        justify-content: space-between;
        padding-inline: 2rem;
    }

    .logo{
        display: none;
    }
    
    .title{
        display: block;
    }

    .btn-mobile{
        display: block;
    }

    .menu{
        position: absolute;
        width: 100%;
        left: 0;
        top: 10rem;
        background-color: #1a1a1a;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1000;
        height: 0rem;
        transition: .2s;
        visibility: hidden;
        overflow-y: hidden;
    }


    #nav.active .menu{
        height: calc(100vh - 10rem);
        visibility: visible;
        overflow-y: auto;
    }

    .menu a {
        padding: .5rem;
        margin: 1.5rem;
    }


}

/*-------------------------------------------HOME----------------------*/
#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    background: url(/src/img/background.svg) center/cover no-repeat;
}

#home .home-texts{
    text-align: center;

}

#home .home-texts p:nth-child(1){
    font-size: 4.8rem;
    font-weight: 600;
}

#home .home-texts p:nth-child(2){
    font-size: 2.8rem;
    font-weight: 500;
}

#home .home-texts p:nth-child(3){
    font-size: 1.6rem;
}

@media (min-width: 830px){
    #home .home-texts p:nth-child(1){
        font-size: 5.6rem;
        font-weight: 600;
    }
    
    #home .home-texts p:nth-child(2){
        font-size: 3.6rem;
        font-weight: 500;
    }
    
    #home .home-texts p:nth-child(3){
        font-size: 2.4rem;
    }
}

@media (min-width: 1024px){
    #home .home-texts p:nth-child(1){
        font-size: 6.4rem;
        font-weight: 600;
    }
    
    #home .home-texts p:nth-child(2){
        font-size: 4.2rem;
        font-weight: 500;
    }
    
    #home .home-texts p:nth-child(3){
        font-size: 3.2rem;
    }
}

/*------------------------------------ SOBRE -----------------------*/
#about {
    background: url(/src/img/background-about.svg) center/cover no-repeat;
    padding-block-start: 10rem;
    padding-block-end: 90rem;
    text-align: center;

  }
  
  .about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .about-text {
    flex: 1;
    margin-right: 2rem;
  }
  
  .about-image {
    flex: 1;
  }
  
  .about-title {
    font-family: 'Sedgwick Ave', cursive;
    font-size: 4.6rem;
    margin-bottom: 2rem;
  }
  
  .about-content p {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 3rem;
  }
  
  @media screen and (max-width: 800px) {
    .about-content {
      flex-direction: column;
      align-items: center;
    }
    
    .about-text {
      margin-right: 0;
      margin-bottom: 3rem;
      text-align: center;
    }
    
    .about-image {
      margin-bottom: 3rem;
    }
}

/*---------------------------------PLANOS----------------------*/  

#plans{
    background: url(/src/img/plans.svg) center/cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 90rem;
    padding-inline: 3rem;
}

#plans .plans-title{
    font-family: 'Sedgwick Ave', cursive;
    font-size: 4.6rem;
    margin-bottom: 2rem;
    text-align: center;
}


.plan{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: #1a1a1a;
    padding: 2rem;
    text-align: center;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    margin-block: 2rem;
    border: .5rem groove #3b3b3b;
}

.plan ul{
    list-style: none;
    margin-block: 2rem;
}

.plan button{
    margin-top: 3rem;
    width: 50%;
    padding-inline: .5rem;
    padding-block: 1rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    background-color: #3a86ff;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    
}


@media screen and (max-width: 500px){
    .plan{
        width: 25rem;
    }
}

.imc-calculator {
    margin-block: 2rem;
    margin-inline: auto;
    padding: 2rem;
    background-color: #1a1a1a;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
  
  .imc-calculator h3 {
    margin-top: 0;
}
  
  .imc-calculator label {
    display: block;
    margin-bottom: 1rem;
}
  
  .imc-calculator input[type="number"] {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: .5rem;
    margin-bottom: 2rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
  
  .imc-calculator button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    width: 100%;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
  
  .imc-calculator p {
    margin-top: 2rem;
}

/*-------------------------------------- CONTATO-----------------------------------*/

#contact {
  background: url(/src/img/contato.svg) center/cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 55rem;
}

#contact h2 {
  color: #fff;
  margin-bottom: 3rem;
  font-size: 4.6rem;
  text-align: center;
  font-family: 'Sedgwick Ave', cursive;
}

.container{
    padding: 5rem;
}

#contact form {

  margin-bottom: 30px;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
  width: 100%;
  margin-block: 2rem;
  margin-inline: auto;
  padding-block: 1.2rem;
  padding-inline: 2rem;
  margin: .8rem 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

#contact textarea {
  height: 150px;
  resize: none;
  font-family: "Poppins", sans-serif;
}

#contact input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-lg{
  width: 100%;
  height: 4rem;
  border: none;
  border-radius: .3rem;
  background-color: #4CAF50;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  -webkit-border-radius: .3rem;
  -moz-border-radius: .3rem;
  -ms-border-radius: .3rem;
  -o-border-radius: .3rem;
}


#contact input[type="submit"]:hover {
  background-color: #45a049;
}

#contact label {
  font-size: 20px;
  margin-bottom: 8px;
  display: block;
  font-weight: bold;
}

.contact-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
}

/*-----------------------------------LOGIN-----------------------*/
#login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(/src/img/login1.svg) center/cover no-repeat;
  padding-block: 36rem;
}

#login .login-title{
  font-family: 'Sedgwick Ave', cursive;
  font-size: 4.6rem;
}

.login-section {
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 50px auto;
  max-width: 400px;
}

.login-section h2 {
  margin-top: 0;
}

.login-section label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.login-section input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.login-section button {
  background-color: #4CAF50;
  color: #FFF;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  width: 100%;
  font-family: "Poppins", sans-serif; ;
}

.login-section button:hover {
  background-color: #45a049;
}

.login-section a {
  text-decoration: underline;
}

@media (max-width: 800px) {
  .login-section {
    margin: 20px auto;
    padding: 10px;
    max-width: 90%;
  }
  
  .login-section h2 {
    font-size: 24px;
  }
  
  .login-section label {
    font-size: 16px;
  }
  
  .login-section input {
    font-size: 16px;
  }
  
  .login-section button {
    font-size: 16px;
  }
  
  .login-section a {
    font-size: 14px;
  }
}
